src/main/mule/cloudhub-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7feb766e-9d99-4c1e-8519-235735fbbeb8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cloudhub-deploymentFlow" doc:id="a8be8249-c121-4562-bb22-dc9e338967af" >
		<http:listener doc:name="Listener" doc:id="2da77f10-14f0-4d47-995a-4ccdbb2b716f" config-ref="HTTP_Listener_config" path="/chd"/>
		<set-payload value='#["Cloudhub deployment succesful"]' doc:name="Set Payload" doc:id="9498512f-9b0c-4c81-93ee-70da5c10398f" />
	</flow>
</mule>
